body,a,ol,ul,li,h1,h2{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    display: inline-block;
    width: 100%;
}
.header a{
    padding-left: 10px;
    margin: 10px;
    text-decoration: none;
    color: rgb(127, 127, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
}
.header .download{
    background-color: red;
    color: white;
    padding: 10px;
    margin-left: 20px;
}
.header img{
    width: 30%;
    padding: 10px;
}
.banner{
    position: sticky;
    top: -270px;
    background-color: #1a5ca3;
    margin-top: 20px;
    font-size: 30px;
    overflow: hidden;
}
.banner p{
    margin-left: 20px;
    margin-top: 0;
}
.banner .white{
    position: absolute;
    top: 200px;
    color: white;
    font-size: 40px;
}
.banner .blue{
    position: absolute;
    top: 240px;
    color: rgb(124, 124, 207);
    font-size: 20px;
}
.banner .order{
    position: absolute;
    top: 280px;
    background-color: rgb(36, 170, 36);
    font-size: 20px;
    display: inline;
    padding: 20px 100px;
    color: white;
    
}
.banner .image{
    width: 70%;
    margin-left: 363px;
    margin-bottom: -6px;
}
.banner .for{
    position: absolute;
    top: 400px;
    left: 1px;
    color: white;
}
.ads{
    position: absolute;
    top: 450px;
    left: 2dvh;
}
.home{
    color: #708aa5;
    background-color: rgb(225, 225, 225);
    text-align: center;
    font-size: 30px;
}
.Coupons{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(89, 89, 150);
}
.Coupons img{
    display: inline-block;
    width: 46%;
    margin: 20px;
}
.Coupons img:hover{
    position: relative;
    top: -20px;
    left: 10px;
}
.Explore{
    font-size: 30px;
    color: rgb(89, 89, 150);
    margin-left: 20px;
}
.explore{
    text-align: center;
    color: rgba(39, 30, 30, 0.71);
    margin: 30px;
    font-size: 17px;
}
.explore li:hover{
    position: relative;
    top: -5px;
    left: 2px;
    cursor: pointer;
    background-color: #f2f5fc;
}
.explore span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.explore .menu{
    display: inline-block;
    border: 2px black solid;
    margin: 10px 20px;
}
.menu .discover{
    color: rgb(224, 31, 63);
    border-top: 2px black solid;
}
.explore .store{
    display: inline-block;
    border: 2px black solid;
    margin: 10px 20px;
}
.store .find{
    color: rgb(224, 31, 63);
    border-top: 2px black solid;
}
.explore .store img{
    width: 80px;
}
.explore .party{
    display: inline-block;
    border: 2px black solid;
    margin: 10px 20px;
}
.party .book{
    border-top: 2px black solid;
    color: rgb(224, 31, 63);
}
.explore .catering{
    display: inline-block;
    border: 2px black solid;
    margin: 10px 20px;
}
.explore .catering img{
    width: 100px;
}
.catering .booknow{
    border-top: 2px black solid;
    color: rgb(224, 31, 63);
}
.app{
    display: flex;
    background-color: #f2f5fc;
}
.phones{
    width: 500px;
    height: 400px;
    width: 100%;
}
.icon h1{
    color: #59688c;
    font-size: 40px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.icon p{
    padding-left: 30px;
    line-height: 35px;
    font-size: 20px;
    color: #455270;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label{
    display: flex;
}
.label img{
    width: 200px;
    margin: 20px;
}
.icon{
    margin-top: 50px;
    margin-left: 50px;
}
.about{
    margin: 20px;
}
.about h1{
    color:  #006491;
    margin: 20px;
    font-size: 30px;
}
.about p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 103, 103);
    line-height: 25px;
    font-weight: 400px;
}
.box{
    margin: 20px;
}
.box button{
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}
.box button:hover{
    position: relative;
    top: -2px;
    left: 2px;
}
.bottom{
    background-color: #222e3a;
    display: flex;
}
.bottom ul{
    flex: 1;
    justify-content: space-evenly;
    padding: 20px;
    list-style-type: none;
    color: white;
    line-height: 30px;
    font-size: 15px;
}
.bottom ul li{
    font-family: Arial, Helvetica, sans-serif;
}
.bottom ul h1{
    color: #546273;
}
.bottom ul li img{
    width: 30px;
    margin: 4px;
}
.bottom .social{
    display: flex;
}
footer{
    background-color: #1a2735;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1200px){
    .header a{
        font-weight: 0;
        font-size: 13px;
        padding-left: 5px;
    }
    .ads{
        display: none;
    }
    .Coupons img{
        width: 45%;
    }
    .for{
        display: none;
    }
    .explore {
        font-size: 13px;
    }
}

@media  screen and (max-width:1000px){
    .header img{
        width: 20%;
    }
    .header a{
        font-size: 10px;
    }
    .for{
        display: none;
    }
    .Coupons img{
        width: 40%;
    }
    .explore {
        display: flex;
        flex-direction: column
    }
    .phones{
        width: 400px;
    }
    .icon{
        margin-left: 0
    }
    .icon p{
        font-size: 18px;
    }
    .label img{
        width: 140px;
    }
    .bottom .social{
        display: inline;
    }
    .hello{
        display: none;
    }
}
@media screen and (max-width:800px){
    .header img{
        display: block;
        width: 30%;
    }
    .banner .image{
        margin-left: 260px;
    }
    .banner .white {
        top: 150px;
        font-size: 30px;
    }
    .banner .blue{
        font-size: 15px;
        top: 180px;
    }
    .banner .order{
        font-size: 20px;
        top: 230px;
        padding: 10px 40px;
    }
    .app{
        display: block;
    }
    .phones{
        width: 400px;
        height: 300px;
        margin-left: 70px;   
    }
    .icon{
        text-align: center;
    }
    .label img{
        width: 200px;
        justify-content: center;
    }
    .label .play{
        margin-left:80px;
    }
    .bottom{
        display: block;
    }
}

@media screen and (max-width:600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .header .download{
        display: inline;
        margin-left: 0;
    }
    .banner{
        margin-top: 0;
    }
    .banner .image{
        margin-left: 150px;
    }
    .banner .white{
        font-size: 20px;
        top: 130px;
    }
    .banner .blue{
        font-size: 10px;
        top: 150px;
    }
    .banner .order{
        font-size: 10px;
        top: 170px;
    }
    .Coupons img{
        display: block;
        width: 100%;
        margin-left: -10px;
    }
    .phones{
        display: none;
    }
    .label img{
        width: 150px;
    }
    .label .play{
        margin-left: 20px;
    }
    .about h1{
        font-size: 20px;
    }
    .about p{
        font-size: 15px;
        line-height: 20px;
    }
}

@media screen and (max-width:400px){
    .header img{
        width: 30%;
    }
    .header a{
        font-size: 7px;
        margin: 5px;
    }
    .banner .image{
        margin-left: 100px;
    }
    .banner .white{
        font-size: 10px;
        top: 100px;
    }
    .banner .blue{
        font-size: 7px;
        top: 110px;
    }
    .banner .order{
        font-size: 7px;
        top: 120px;
        padding: 5px 20px;
    }
    .home{
        font-size: 20px;
    }
    .Coupons p{
        font-size: 20px;
    }
    .explore h1{
        font-size: 20px;
    }
    .explore p{
        font-size: 10px;
    }
    .explore span{
        font-size: 8px;
    }
    .explore br{
        display: none;
    }
    .icon h1{
        font-size: 20px;
    }
    .icon p{
        font-size: 15px;
        margin: 0;
        padding-left: 0;
        line-height: 18px;
    }
    .icon br{
        display: none;
    }
    .label{
        display: block;
    }
    .label img{
        width: 120px;
        margin: 0;
    }
    .label .play{
        margin-left: 0;
    }
    .about h1{
        margin: 0;
        font-size: 16px;
    }
    .about p{
        font-size: 10px;
        line-height: 16px;
    }
    .box button{
        margin: 0;
        padding: 0;
    }
}